body {
    font-family: "Poppins", sans-serif;
}

/* header section */
.name-initial {
    width: 50px;
    height: 50px;
    background: #77267F;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

.blue-bg {
    background-color: #008FBE;
    padding: 16px;
}

/* banner section */
.banner {
    background-image: url('../images/rem-patch.png');
    background-position: center center;
    height: 652px;
    background-size: cover;
}

.sub {
    font-size: 18px;
}

.stars {
    color: #FFA500;
}

.price {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.quantity-input {
    border-radius: 50px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.quantity-btn {
    border: none;
    font-weight: bold;
}

.quantity {
    text-align: center;
    border: none;
    margin: 0 5px;
    font-weight: bold;

}

.cart-button,
.cart-button:hover {
    color: #fff;
    padding: 6px 30px;
    background-color: #FF6B00;
}

/* customers-review section */
.name {
    color: #77267F
}

.verified {
    color: #0C780A
}

/* technology section */
.number {
    font-size: 5rem;
    top: -24px;
    position: relative;
}

.woman-img {
    z-index: -1
}

.woman-img img {
    height: 100%;
    object-fit: cover;
    object-position: right;
    overflow-x: unset;
}

.light-blue-bg {
    background-color: #E0E7FE;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
}


.rem-superpatch-lg {
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    transform: translate(-50%, -50%);

}

.benefit {
    top: 50%;
    left: 50%;
    z-index: 1;
    max-width: 34%;
    position: absolute;
    transform: translate(-106%, -88%);
}


.benefit-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #E0E7FE;
}

/* wear tech section */
.wear-tech-section {
    background-image: url(../images/rem-patch-bg.png);
    background-size: cover;
    background-position: bottom;
}

.how-it-works {
    padding: 20px 10px 0 10px;
    height: 100%;
}

.light-purple-bg {
    background-color: #F3EDEB;
    border-radius: 10px;
}


/* news section */
.news-section {
    background-image: linear-gradient(#752175, #8E2E8F, #9C39A3, #5E1A65);
    height: 488px;
    background-size: cover;
}

.bi-stars {
    background: linear-gradient(52deg, #ffac00, #FFFFE3 64%, #ffac00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video {
    width: 560px;
    height: 315px;
}

/* advisory board section */
.advisory-board-content {
    background-color: #E0E7FE;
    border-radius: 26px;
    width: calc(50% - 20px);
}

.advisory-board-content:last-child:nth-child(odd) {
    width: 50%;
    margin: 0 auto
}

.carousel-advisory-board .advisory-board-content {
    border-radius: 40px;
}

.advisor {
    width: 110%;
}

/* sleep issue section */
.sleep-issue-section {
    background-image: url(../images/rem-superpatch-bg.png);
    background-size: cover;
}

.line {
    border-right: 2px solid #3D3D3D;
}

.participants {
    font-size: 4em;
}

.sleep-issue-section .hr-mobile {
    width: 50%;
    margin: 6px auto;
    color: #3D3D3D;
    height: 2px;
    background-color: #3D3D3D;
    opacity: 1;
}

.light-white-bg {
    background-color: rgba(238, 232, 232, 0.6);
    border-radius: 20px;
}

/* footer section */
.footer-section {
    background-color: #000;
    padding: 38px;
}

.footer-section a {
    font-size: small;
    text-decoration: none;
}

/* helpers  */
.purple {
    color: #8F3192
}

.dark-gray {
    color: #3D3D3D
}

/* media query */
@media (max-width: 767px) {
    .video {
        width: 100%
    }
    .advisory-board-content {
        width: 100% !important;
        background-color: #E0E7FE;
        margin-top: 112px !important;
    }

    .advisor {
        position: absolute;
        transform: translate(-4%, -14%);
        width: 34% !important;
    }

    .title {
        margin-top: 86px !important;
    }
}

@media (min-width: 768px) {
    .advisor {
        margin-top: -62px;
    }
}

@media (max-width: 961px) {
    .benefit {
        left: 50%;
        z-index: 1;
        max-width: 42%;
        position: absolute;
        transform: translate(12%, -12%);
    }

    .rem-superpatch-sm {
        top: 50%;
        left: 40%;
        transform: translate(-46%, -14%);
        position: absolute;
    }

    .light-blue-bg {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .life {
        margin-top: 20rem !important;
    }
}


@media (min-width: 961px) {
    .advisor {
        margin-top: -62px;
    }
}
